.footer-container {
    position: fixed;
 
    bottom: 30%;
    left: 0;
    justify-content: center;
    color: white;
    
    z-index: 1000; /* Ajusta el z-index si es necesario */
    text-align: center; /* Alinea el contenido al centro */
    width: auto; /* Ajusta el ancho automáticamente */
    display: none;
    justify-content: space-between;

  }
.icons-foot{
    font-size: 1.9rem;
    padding: 20px ;
    color: #e73f3f;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.icons-foot:hover{
    animation: shadow-drop-center 0.1s linear both;
}



@keyframes shadow-drop-center {
    0% {
      font-size: 1.9rem;
    }
    100% {
      font-size: 2.2rem;
    }
  }

@media (min-width:780px) {
    .footer-container{
        display: flex;
    }
}